@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.donateBox {
  width: 60%;
  margin: 0 auto;
  padding: 45px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.DonPrices {
  display: flex;
  gap: 10px;
}

.donateBox,
.subDonPric {
  border-radius: 10px;
}

.subDonPric {
  border: 1px solid black;
  width: 30%;
  margin: 10px auto;
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.flexDon {
  height: 55.3vh;
  display: flex;
  align-items: center;
}

@media (min-width: 1000px) and (max-width: 2600px) {
  .titleMag {
    font-size: 1.8rem;
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .titleMag {
    font-size: 0.997rem;
  }

  span {
    font-size: 0.7rem;
  }
}