* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}


a {
    color: white;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    color: white;
    width: 2%;
}

.headboxinfo {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
}

.buttons button {

    margin-left: 10px;
}

.conInfo {
    display: flex;
    gap: 23px;
    margin: 15px;
}

.butAndSocial {
    width: 50%;
}



.socialmedia {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.footerbuttons {
    background: none;
    border: 3px solid white;
    color: white;
    margin-top: 3%;
}


@media (max-width: 2560px) and (min-width: 1000px) {

    .buttons button {
        padding: 10px;
        background: black;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
    }

    nav ul li a {
        font-size: 1.3rem;
    }

    .logo {
        font-size: 1rem;
        color: white;
    }

    nav>ul {
        color: white;
    }

    .headboxinfo {
        padding: 40px;
        margin-left: 3%;
    }

    .footerContent {
        width: 45%;
    }

    .footerbuttons {
        padding: 26px 57px;
        font-size: 2rem;
    }

    .butAndSocial {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .conInfo {
        justify-content: flex-start;
    }


    .screenSizeTabPhone {
        opacity: 0;
    }

    .socialmedia {
        height: 20%;
    }

    header {
        padding: 10px;
    }
}

@media (max-width: 1000px) and (min-width: 300px) {
    .footerContent {
        flex-direction: column;
    }

    .screenSizeLapPC {
        opacity: 0;
    }
}

@media (max-width: 700px) and (min-width: 300px) {
    nav>ul {
        opacity: 0;
        flex-direction: column;
        margin-bottom: -50px;
    }

    .buttons button {
        padding: 5px 20px;
    }

    .botmfix {
        margin-bottom: 10px;
    }


    .logo,
    button {
        font-size: 0.8rem;
    }

    .headboxinfo {
        padding: 20px;

    }

    .footerbuttons {
        font-size: 1.3rem;
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }

    .butAndSocial {
        display: flex;
        flex-direction: column;
    }

    .conInfo,
    .socialmedia {
        justify-content: center;
    }

    .socialmedia {
        gap: 32px;
        width: 75%;
        margin: 0 auto;
    }

    .footerContent {
        margin: 23px 5px 20px 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .butAndSocial {
        margin: 10px;
        width: 90%;
        justify-content: center;
    }



    nav {
        margin-bottom: -40px;
    }

    header {
        padding: 0px 10px;
    }

    footer {
        flex-direction: column-reverse;
    }


    .imageSizing {
        width: 9%;
    }
}

footer {
    background: black;
    height: auto;
    min-width: 20%;
    margin-top: 3%;
    color: white;
    display: flex;
}

.footerContent {
    display: flex;
    margin: 25px 20px;
}