header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.logo {
    font-weight: bold;
    color: white;
    width: 2%;
}

.headboxinfo {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.buttons button {
    padding: 10px;
    margin-left: 10px;
}

.conInfo {
    display: flex;
    gap: 23px;
    margin: 15px;
}

.butAndSocial {
    width: 50%;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.footerbuttons {
    background: none;
    border: 3px solid white;
    color: white;
    margin-top: 3%;
}

@media (max-width: 2560px) and (min-width: 1000px) {

    .logo {
        font-size: 1.5rem;
    }

    .headboxinfo {
        padding: 40px;
        margin-left: 3%;
    }

    .footerContent {
        width: 45%;
    }

    .footerbuttons {
        font-size: 2rem;
    }

    .footerbuttons {
        width: 20%;
        padding: 17px 0px;
    }

    .conInfo {
        justify-content: flex-start;
    }


    .screenSizeTabPhone {
        opacity: 0;
    }

    .socialmedia {
        height: 20%;
    }

    header {
        padding: 10px;
    }
}

@media (max-width: 1000px) and (min-width: 300px) {
    .footerContent {
        flex-direction: column;
    }

    .screenSizeLapPC {
        opacity: 0;
    }



}

@media (max-width: 700px) and (min-width: 300px) {
    nav>ul {
        opacity: 0;
        flex-direction: column;
    }

    .logo {
        font-size: 1.2rem;
    }

    .headboxinfo {
        padding: 20px;

    }

    .footerbuttons {
        font-size: 1.3rem;
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }

    .butAndSocial {
        display: flex;
        flex-direction: column;
    }

    .conInfo,
    .socialmedia {
        justify-content: center;
    }

    .socialmedia {
        gap: 32px;
    }

    .footerContent {
        margin: 23px 5px 20px 20px;
        display: flex;
        flex-direction: row;
    }

    .butAndSocial {
        margin: 10px;
        width: 90%;
        justify-content: center;
    }

    nav {
        margin-bottom: -40px;
    }

    header {
        padding: 0px 10px;
    }

    footer {
        flex-direction: column-reverse;
    }


    .imageSizing {
        width: 9%;
    }
}