.container {
    padding: 20px;
    margin-left: 5%;
    
  }
  
  .text-width {
    width: 60%;
  }
  
  .inputinfo {
    display: flex;
    gap: 5%; /* Adjust the gap as needed */
    margin-top: 2%;
  }
  
  .inputinfo input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
  }
  
  .conbun {
    border: none;
    margin-top: 1.5%;
    width: 7%;
    height: 30px;
  }
  
  .pline {
    margin-top: 15px;
  }
  
  .secondline,
  .thirdline,
  .fourthline {
    border-top: 1px solid black;
    width: 50%;
  }
  
  .secondline {
    margin-bottom: -25px;
    margin-top: 3%;
  }
  
  .thirdline {
    margin-bottom: -8px;
    margin-top: 3%;
  }
  

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2 {
    display: flex;
    width: 50%;
    margin-top: -20%;
    
   margin-left: -20%;
}

.left-box{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 24px;
    width: 10pxs;
    
}

.left-box p{
    white-space: normal;
}

.boxbox{
  
    width: 40%;
    border: 1px solid black;
   padding-left: 3%;
}

.summline{
    border-bottom: 1px solid black;
    width: 90%;
}

.datanone{
    border: 1px solid black;
    margin: 0 auto;
}

