.dateSumBox {
  display: flex;
  justify-content: center;
}

.subDateSumBox {
  height: auto;
}

.priceBox {
  padding: 18px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.spacein {
  display: flex;
  gap: 50px;
  margin-top: 5%;
}

.dateTickCon {
  display: flex;
  gap: 10px;
}

.inpText {
  width: 40%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
}

.infoOpenTime {
  color: black;
}

.secondline,
.thirdline,
.fourthline {
  border-top: 1px solid black;
  width: 80%;
  padding: 18px;
}

.conBut {
  margin: 10px 3px;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.datesInfoText {
  margin-bottom: 20px;
}

.sumCartCon {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  margin: 0% 10%;

}

.sumCon,
.cartCon {
  width: 50%;
}

.cartCon {
  display: flex;
  justify-content: flex-end;
}

.dataInfo {

  width: 80%;
  margin: 0 auto;
}

.totalSum {
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  display: flex;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid;
}

.dataText {
  margin: 0px 0px 13px 0px;
}

@media (min-width: 1000px) and (max-width: 2600px) {
  .subDateSumBox {
    width: 40%;
  }

  .totalSum {
    height: 15vh;
  }

  .priceBox {
    border-radius: 80px;
  }

  .dateSumBox {
    gap: 33px
  }
}

@media (min-width: 300px) and (max-width: 1000px) {
  .dateSumBox {
    flex-direction: column;
    align-items: center;
  }

  .subDateSumBox {
    width: 80%;
  }

  .dateSumBox {
    gap: 13px
  }


  .priceBox {
    border-radius: 30px;
  }
}

.ticketBuyInfoCon {
  width: 90%;
  margin: 8px auto;
}